
name: Docker Release

on:
  push:
    tags:
      - 'v*'

jobs:
  docker-release:
    runs-on: ubuntu-latest
    env:
      TAG: ${{ github.ref_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}
          registry: ghcr.io
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push multi-arch image (Docker Hub)
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -f dockerfiles/Dockerfile.self-contained \
            -t martinbouillaud/watchtower:${TAG} \
            -t martinbouillaud/watchtower:latest \
            --push .
      - name: Build and push multi-arch image (GHCR)
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -f dockerfiles/Dockerfile.self-contained \
            -t ghcr.io/bilyboy785/watchtower:${TAG} \
            -t ghcr.io/bilyboy785/watchtower:latest \
            --push .

  

  
